client/src/conf/xml-resources/web-service-references/ServerApplication/wsdl/localhost_8080/ServerApplication/ServerApplication.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server.me.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server.me.org/" name="ServerApplication">
<types>
<xsd:schema>
<xsd:import namespace="http://server.me.org/" schemaLocation="http://localhost:8080/ServerApplication/ServerApplication?xsd=1"/>
</xsd:schema>
</types>
<message name="add">
<part name="parameters" element="tns:add"/>
</message>
<message name="addResponse">
<part name="parameters" element="tns:addResponse"/>
</message>
<message name="getVideosByAuthorName">
<part name="parameters" element="tns:getVideosByAuthorName"/>
</message>
<message name="getVideosByAuthorNameResponse">
<part name="parameters" element="tns:getVideosByAuthorNameResponse"/>
</message>
<message name="getVideosByAuthorID">
<part name="parameters" element="tns:getVideosByAuthorID"/>
</message>
<message name="getVideosByAuthorIDResponse">
<part name="parameters" element="tns:getVideosByAuthorIDResponse"/>
</message>
<message name="getVideosByTitle">
<part name="parameters" element="tns:getVideosByTitle"/>
</message>
<message name="getVideosByTitleResponse">
<part name="parameters" element="tns:getVideosByTitleResponse"/>
</message>
<message name="getVideosByYear">
<part name="parameters" element="tns:getVideosByYear"/>
</message>
<message name="getVideosByYearResponse">
<part name="parameters" element="tns:getVideosByYearResponse"/>
</message>
<portType name="ServerApplication">
<operation name="add">
<input wsam:Action="http://server.me.org/ServerApplication/addRequest" message="tns:add"/>
<output wsam:Action="http://server.me.org/ServerApplication/addResponse" message="tns:addResponse"/>
</operation>
<operation name="getVideosByAuthorName">
<input wsam:Action="http://server.me.org/ServerApplication/getVideosByAuthorNameRequest" message="tns:getVideosByAuthorName"/>
<output wsam:Action="http://server.me.org/ServerApplication/getVideosByAuthorNameResponse" message="tns:getVideosByAuthorNameResponse"/>
</operation>
<operation name="getVideosByAuthorID">
<input wsam:Action="http://server.me.org/ServerApplication/getVideosByAuthorIDRequest" message="tns:getVideosByAuthorID"/>
<output wsam:Action="http://server.me.org/ServerApplication/getVideosByAuthorIDResponse" message="tns:getVideosByAuthorIDResponse"/>
</operation>
<operation name="getVideosByTitle">
<input wsam:Action="http://server.me.org/ServerApplication/getVideosByTitleRequest" message="tns:getVideosByTitle"/>
<output wsam:Action="http://server.me.org/ServerApplication/getVideosByTitleResponse" message="tns:getVideosByTitleResponse"/>
</operation>
<operation name="getVideosByYear">
<input wsam:Action="http://server.me.org/ServerApplication/getVideosByYearRequest" message="tns:getVideosByYear"/>
<output wsam:Action="http://server.me.org/ServerApplication/getVideosByYearResponse" message="tns:getVideosByYearResponse"/>
</operation>
</portType>
<binding name="ServerApplicationPortBinding" type="tns:ServerApplication">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="add">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getVideosByAuthorName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getVideosByAuthorID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getVideosByTitle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getVideosByYear">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServerApplication">
<port name="ServerApplicationPort" binding="tns:ServerApplicationPortBinding">
<soap:address location="http://localhost:8080/ServerApplication/ServerApplication"/>
</port>
</service>
</definitions>